@import '../fonts/font.css';
@import 'normalize';
@import "bourbon";

$red: #dc0001;
$gray: #555555;
$inputHeight: rem(36);
$inputSpacing: rem(20);
$labelWidth: rem(140);
*{
	@include box-sizing(border-box);
}

body{
	font-family: 'Toyota Text', sans-serif;
	color: $gray;
}

h1,h2,h3,h4,h5,h6{
	font-family: 'Toyota Display', sans-serif;	
	color: $red;
}

h2{
	font-size: rem(20);
}

a{
	color:$red;
	text-decoration: underline;
	font-weight: bold;
}

.red{
	color: $red;
}

input{

	&[type=text],
	&[type=email]{
		@include linear-gradient(rgb(236,236,236), rgb(249,249,249), rgb(249,249,249), rgb(228,228,228));
		padding: 10px 20px;
		color: $gray;
		height: $inputHeight;
		border: 1px solid #bbb;
		border-radius: $inputHeight / 2;
		box-shadow: rgb(200,200,200) 0px 0px 5px inset;
		width: 100%;
		display: block; 
		@media screen and (min-width: 780px){
			max-width: 340px;
		}
		&:focus{
			box-shadow: none;
		}
	}

	&:focus{
		outline: none;

	}
}


#SubcribeForm{
	.left{
		@media screen and (min-width: 780px){
			float: left;
			line-height: $inputHeight;
			width: rem(150);
			clear: left;
			padding-right: rem(30);
			text-align: right;
		}

	}


	.left, .right{
		margin-top: $inputSpacing / 2;

		@media screen and (min-width: 780px){
			margin-top: $inputSpacing;
		}

	}

	.left{
		font-size: 0.9em;
		margin-top: $inputSpacing;
		@media screen and (min-width: 780px){
			font-size: 1em;
		}

	}

	.error{
		color: $red;
		font-size: 0.8em;
		text-align: left;
		display: block;
		@media screen and (min-width: 780px){
			padding-left: $labelWidth + rem(30);
		}

	}
	
	#accept{
		@include linear-gradient(#eee, #fff);
		margin-top: rem(20);

		small{
			a{
				display: block;
				margin-top: 1em;
			}
		}
		.checker{
			display: inline-block;
			margin-right: 0.5em;
		}
		> label{
			margin-top: 1em;
			display: block;
			font-size: 0.9em;
			font-size: 1em;
			font-weight: bold;
			
			.error{
				padding-left: 30px;
				font-weight: normal;
				margin-top: 1em;
			}
		}

	}

	#RegisterButton{
		@include linear-gradient(#d22324, #ec2d2e, #bb0001);
		padding: 10px 40px;
		color: $gray;
		height: $inputHeight;
		border: none;
		border-radius: $inputHeight / 2;
		line-height: 0.8;
		font-weight: bold;
		font-size: 1.2em;
		color:#fff;
			width: 100%;
		@media screen and (min-width: 780px){
			width: auto;
		}

		margin-top: rem(30);

	}
}


header,
#personal,
#accept{
	padding: rem(10) rem(20);

	@media screen and (min-width: 780px){
		padding: rem(20) rem(40);
	}

}