@font-face {
  font-family: 'Toyota Display';
  src: url('ToyotaDisplay_Bd.eot'); /* IE9 Compat Modes */
  src: url('ToyotaDisplay_Bd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('ToyotaDisplay_Bd.woff') format('woff'), /* Modern Browsers */
       url('ToyotaDisplay_Bd.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('ToyotaDisplay_Bd.svg#833a48e1aa323e582866c50d4fcb8d01') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Toyota Display';
  src: url('ToyotaDisplay_Rg.eot'); /* IE9 Compat Modes */
  src: url('ToyotaDisplay_Rg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('ToyotaDisplay_Rg.woff') format('woff'), /* Modern Browsers */
       url('ToyotaDisplay_Rg.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('ToyotaDisplay_Rg.svg#614d5f5448da710631a71250c290b0ee') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

@font-face {
  font-family: 'Toyota Text';
  src: url('ToyotaText_Bd.eot'); /* IE9 Compat Modes */
  src: url('ToyotaText_Bd.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('ToyotaText_Bd.woff') format('woff'), /* Modern Browsers */
       url('ToyotaText_Bd.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('ToyotaText_Bd.svg#15258c19af13a41c458b33e37ab4f32b') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  700;
}

@font-face {
  font-family: 'Toyota Text';
  src: url('ToyotaText_Rg.eot'); /* IE9 Compat Modes */
  src: url('ToyotaText_Rg.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('ToyotaText_Rg.woff') format('woff'), /* Modern Browsers */
       url('ToyotaText_Rg.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('ToyotaText_Rg.svg#5506996eba9bffb61604ffe14eaca307') format('svg'); /* Legacy iOS */
       
  font-style:   normal;
  font-weight:  400;
}

